@tailwind base;
@tailwind components;
@tailwind utilities;

/* 프리즘 및 폰트 */
@import "../node_modules/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css";
@import "../assets/css/prism-dracula.css";

/* 다크 모드 강제 적용 */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

/* UI 컴포넌트 대응 */
@layer base {
  :root {
    --radius: 1rem;
    --background: #333333;
    --foreground: #eaeaea;
    --primary: #602286;
    --primary-foreground: #e1c8ff;
  }

  .logo {
    border-radius: 25%;
  }

  html {
    /* Typography: 한국어는 Word Break에 조심해야함. */
    word-break: keep-all;
  }
}
